@section scripts {
  <script>
    $('.carousel').carousel({
      interval: 6000,
      pause: 'hover'
    });
  </script>
}

<!-- Showcase Carousel -->
<section id="showcase">
  <div id="homeCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li class="active" data-target="#homeCarousel" data-slide-to="0"></li>
      <li class="active" data-target="#homeCarousel" data-slide-to="1"></li>
      <li class="active" data-target="#homeCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3">Heading One</h1>
            <p class="lead">
              Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt
              integer eu augue augue nunc elit dolor, luctus placerat.
            </p>
            <a href="#" class="btn btn-danger btn-lg">Sign Up Now</a>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block mb-5">
            <h1 class="display-3">Heading Two</h1>
            <p class="lead">
              Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt
              integer eu augue augue nunc elit dolor, luctus placerat.
            </p>
            <a href="#" class="btn btn-primary btn-lg">Learn More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3">Heading Three</h1>
            <p class="lead">
              Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt
              integer eu augue augue nunc elit dolor, luctus placerat.
            </p>
            <a href="#" class="btn btn-success btn-lg">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <a href="#homeCarousel" class="carousel-control-prev" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#homeCarousel" class="carousel-control-next" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<!-- Home Icon Section -->
<section id="home-icons" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 text-center">
        <i class="fas fa-cog fa-3x mb-2"></i>
        <h3>Turning Gears</h3>
        <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fas fa-cloud fa-3x mb-2"></i>
        <h3>Sending Data</h3>
        <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fas fa-cart-plus fa-3x mb-2"></i>
        <h3>Making Money</h3>
        <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
      </div>
    </div>
  </div>
</section>

<!-- Home Heading Section-->
<section id="home-heading" class="p-5">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-5">
          <h1>Are You Ready To Get Started?</h1>
          <p class="d-none d-md-block">
            Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt
            integer eu augue augue nunc elit dolor, luctus placerat.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Info Section -->
<section id="info" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h3>Lorem Ipsum</h3>
        <p>
          Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt
          integer eu augue augue nunc elit dolor, luctus placerat.
        </p>
        <a href="#" class="btn btn-outline-danger btn-lg">Learn More</a>
      </div>
      <div class="col-md-6">
        <img src="~/img/laptop.png" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<!-- Video Play -->
<section id="video-play">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container p-5">
          <a href="#" class="video" data-video="https://www.youtube.com/embed/TudC7hQaTWw"
             data-toggle="modal" data-target="#videoModal">
            <i class="fas fa-play fa-3x"></i>
          </a>
          <h1>See What We Do</h1>
        </div>
      </div>
    </div>
  </div>
</section>